<div class="flex h-full">
  <app-dashboard />

  <div class="ml-64 flex flex-col w-full px-8 py-6">
 
    <div class="flex items-center mb-8 pl-6">
      <h2 class="text-4xl font-bold text-slate-950">Registrar Venda</h2>
    </div>

    <div class="flex justify-start items-center pl-6">
      <mat-card class="w-full max-w-md bg-white p-8 rounded-lg shadow-custom">
        <form [formGroup]="formSales" (submit)="onSubmitSales()" class="space-y-6">
    
          <mat-form-field class="w-full" appearance="fill">
            <mat-label>Produto Vendido</mat-label>
            <mat-icon matPrefix color="primary">shopping_cart</mat-icon>
            <select matNativeControl formControlName="product_id">
              <option value="" disabled selected>Selecione um produto</option>
              <option *ngFor="let product of products" [value]="product.product_id">
                {{ product.product_name }}
              </option>
            </select>
          </mat-form-field>

          <mat-form-field class="w-full" appearance="fill">
            <mat-label>Quantidade da Venda</mat-label>
            <mat-icon matPrefix color="primary">filter_1</mat-icon>
            <input
              matInput
              type="number"
              name="quantity_sold"
              formControlName="quantity_sold"
              placeholder="Digite a quantidade"
            />
          </mat-form-field>

          <mat-form-field class="w-full" appearance="fill">
            <mat-label>Data da Venda</mat-label>
            <mat-icon matPrefix color="primary">calendar_today</mat-icon>
            <input
              matInput
              type="date"
              name="date"
              formControlName="date"
              placeholder="Digite a data"
            />
          </mat-form-field>

          <button
            mat-raised-button
            color="primary"
            class="w-full"
            [disabled]="!formSales.valid"
            type="submit"
          >
            Registrar Venda
          </button>
        </form>
      </mat-card>
    </div>
  </div>
</div>
