<div class="flex h-full">
  <app-dashboard />

  <div class="ml-64 w-full px-8 py-6">
    <div class="flex items-center">
      <h2 class="text-4xl font-bold text-slate-950 pl-6">Histórico de Vendas</h2>
    </div>
    <div class="p-6">
      <table class="min-w-full bg-white border shadow rounded">
        <thead>
          <tr class="bg-indigo-500 text-center border-b">
            <th class="px-6 py-3 font-normal text-white">Foto</th>
            <th class="px-6 py-3 font-normal text-white">Nome</th>
            <th class="px-6 py-3 font-normal text-white">Quantidade</th>
            <th class="px-6 py-3 font-normal text-white">Faturamento</th>
            <th class="px-6 py-3 font-normal text-white">Foto do Funcionário</th>
            <th class="px-6 py-3 font-normal text-white">Nome do Funcionário</th>
            <th class="px-6 py-3 font-normal text-white">Empresa</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let sales of salesHistory" class="border-b text-center">
            <td class="p-4 flex justify-center items-center">
              <img [src]="sales.productImg" alt="Foto do Produto" class="w-12 h-12 rounded-full object-cover" />
            </td>
            <td class="p-4 font-medium text-gray-800">{{ sales.productName }}</td>
            <td class="p-4 font-medium text-gray-800">{{ sales.quantitySold }}</td>
            <td class="p-4 font-medium text-gray-800">{{ sales.totalBilled }}</td>
            <td class="p-4 flex justify-center items-center">
              <img [src]="sales.userImg" alt="Foto do Funcionário" class="w-12 h-12 rounded-full object-cover" />
            </td>
            <td class="p-4 font-medium text-gray-800">{{ sales.userName }}</td>
            <td class="p-4 font-medium text-gray-800">{{ sales.storeName }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
