<app-layout-options></app-layout-options>

<h2 class="text-4xl font-bold text-slate-950 mt-10 text-center">Histórico de Vendas</h2>

<div class="table-container mx-auto p-10 text-center">
  <table mat-table [dataSource]="salesHistory" class="mat-elevation-z8">
    <ng-container matColumnDef="product_image">
      <th mat-header-cell *matHeaderCellDef> Foto Produto </th>
      <td mat-cell *matCellDef="let item" class="text-center">
        <img [src]="item.product_image" alt="Produto" class="w-16 h-16 rounded object-cover" />
      </td>
    </ng-container>

    <ng-container matColumnDef="product_name">
      <th mat-header-cell *matHeaderCellDef> Produto </th>
      <td mat-cell *matCellDef="let item" class="text-center">{{ item.product_name }}</td>
    </ng-container>

    <ng-container matColumnDef="store_name">
      <th mat-header-cell *matHeaderCellDef> Loja </th>
      <td mat-cell *matCellDef="let item" class="text-center">{{ item.store_name }}</td>
    </ng-container>

    <ng-container matColumnDef="quantity_sold">
      <th mat-header-cell *matHeaderCellDef> Quantidade Vendida </th>
      <td mat-cell *matCellDef="let item" class="text-center">{{ item.quantity_sold }}</td>
    </ng-container>

    <ng-container matColumnDef="total_billed">
      <th mat-header-cell *matHeaderCellDef> Total Faturado </th>
      <td mat-cell *matCellDef="let item" class="text-center">{{ item.total_billed }}</td>
    </ng-container>

    <ng-container matColumnDef="user_image">
      <th mat-header-cell *matHeaderCellDef> Foto do Vendedor </th>
      <td mat-cell *matCellDef="let item" class="text-center">
        <img [src]="item.user_image" alt="Vendedor" class="w-12 h-12 rounded-full object-cover" />
      </td>
    </ng-container>

    <ng-container matColumnDef="user_name">
      <th mat-header-cell *matHeaderCellDef> Vendedor </th>
      <td mat-cell *matCellDef="let item" class="text-center">{{ item.user_name }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Ações </th>
      <td mat-cell *matCellDef="let item" class="text-center">
        <button mat-raised-button color="primary">Detalhes</button>
      </td>
    </ng-container>

    <!-- Indicadores -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <!-- Conteúdo -->
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
