<app-layout-options />

<!-- <div class="flex justify-center items-start min-h-screen">
  <div class="flex h-[400px] w-[400px] pt-5 pl-5">
    <app-charts 
      [messageSockets]="'sales'" 
      [chartReference]="'chart2'" 
      [chartType]="'bar'"
      [chartTitle]="'Faturamento Atual'" />
  </div>
  <div class="flex h-[400px] w-[400px] pt-5 pl-5">
    <app-charts 
      [messageSockets]="'sales'" 
      [chartReference]="'chart1'" 
      [chartType]="'pie'"
      [chartTitle]="'Faturamento Atual - Produtos Vendidos'" />
  </div>
</div> -->