<h2 mat-dialog-title>Editar Funcionário</h2>
<mat-dialog-content>
  <form [formGroup]="formUpdateEmployee">
    <mat-form-field>
      <mat-icon matPrefix>person</mat-icon>
      <mat-label>Nome</mat-label>
      <input 
        matInput 
        formControlName="name" 
        name="name"
        placeholder="Digite o novo nome do funcionário"
        >
    </mat-form-field>
    <mat-form-field>
      <mat-icon matPrefix>email</mat-icon>
      <mat-label>Email</mat-label>
      <input 
        matInput 
        formControlName="email" 
        name="email"
        type="email"
        placeholder="Digite o novo email do funcionário"
        />
    </mat-form-field>
    <div class="pb-5">  
      <label class="text-black font-medium" for="image_url">Foto do Funcionário</label> 
       <input  
        formControlName="image_url" 
        (change)="onFileSelected($event)"
        name="image_url"
        type="file"
        accept="image/*"
        class="file-input"
       />
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="closeDialog()">Fechar</button>
  <button mat-button color="primary" (click)="saveChanges()">Salvar</button>
</mat-dialog-actions>
