<div class="min-h-screen flex items-center justify-center relative">
    <mat-card class="w-full max-w-md p-6">
      <div class="absolute top-4 left-4">
        <button mat-icon-button (click)="goBackLogin()">
          <mat-icon color="primary">arrow_back</mat-icon>
        </button>
      </div>
      <div class="flex flex-col items-center">
        <mat-icon color="primary">lock_reset</mat-icon>
        <mat-card-title class="text-center font-bold text-gray-800">
          Recuperação de Senha
        </mat-card-title>
      </div>
      <mat-stepper orientation="vertical" [linear]="isLinear"  #stepper>
        <mat-step [stepControl]="firstFormRecoveryEmail">
          <form [formGroup]="firstFormRecoveryEmail">
            <ng-template matStepLabel>Envie o e-mail de recuperação</ng-template>
            <mat-form-field>
              <mat-label>Email</mat-label>
              <input matInput 
                placeholder="Digite um e-mail válido"  
                type="email" 
                formControlName="email" 
                name="email" 
                required
              />
            </mat-form-field>
            <div>
              <button mat-button matStepperNext>Próximo</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="twoFormRecoveryCode">
          <form [formGroup]="twoFormRecoveryCode">
            <ng-template matStepLabel>Digite o código</ng-template>
            <mat-form-field>
              <mat-label>Código</mat-label>
              <input matInput 
                placeholder="Código enviado por e-mail" 
                type="number" 
                formControlName="code" 
                name="code" 
                required
              />
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>Voltar</button>
              <button mat-button matStepperNext>Próximo</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="threeFormRecoveryPassword">
          <form [formGroup]="threeFormRecoveryPassword">
            <ng-template matStepLabel>Nova Senha</ng-template>
            <mat-form-field>
              <mat-label>Senha</mat-label>
              <input matInput 
                placeholder="Digite uma nova senha" 
                type="text" 
                formControlName="password" 
                name="password" 
                required
              />
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>Voltar</button>
              <button mat-button matStepperNext>Próximo</button>
            </div>
          </form>
        </mat-step>
      </mat-stepper>
    </mat-card>
  </div>
  